.html {
}
#container {
}

#main {
}
#username {
}
#order {
}
#items {
    float: left;
    border: 1px solid green;
}
.Item{
	float: left;
	height: 100px;
	width: 100px;
	cursor: pointer;
    border: 1px solid red;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none; 
}