@box-orange: #F58B0A;
@box-dark-orange: #8f4e00;
@box-light-orange: #f5c00a;
@white-orange: #fff6e3;
.rounded-corners (@radius: 10px, @width: 4px) {
    border: @width solid @box-orange;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
  box-shadow: 0 0 7px 5px @white-orange;
}

.html {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
#container {
    width: 1024px;
    margin: 0 auto; 
}

#main {
}
#username {
}

#order {
    float: left;
    width: 400px;
    height: 300px;
    margin: 5px auto;
    padding: 3px;
    .rounded-corners;
        #order_list {
            width: 100%;
            height: 93%;
        }
        #order_total {
            width: 100%;
            height: 7%;
            border-top: 2px solid green;
        }
        .OrderItem {
        }
}

#check-out {
    float: left;
    width: 156px;
    height: 300px;
    margin: 5px 20px;
    padding: 3px;
    .rounded-corners;
}

#key-pad {
    float: left;
    width: 370px;
    height: 300px;
    margin: 5px auto;
    padding: 3px;
    .rounded-corners;
}

#items {
    float: left;
    width: 1000px;
    height: 400px;
    margin: 5px auto;
    .rounded-corners;
}
.Item{
    float: left;
    height: 100px;
    width: 140px;
    cursor: pointer;
    margin: 10px;
    .rounded-corners;
    background: -moz-radial-gradient(@box-orange 20%, @box-light-orange 100%);
    box-shadow: 3px 3px 10px @box-dark-orange;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none; 
}